av
colorlog
cython
einops
gitpython
gradio
h5py
huggingface_hub < 1.0.0
librosa
matplotlib
nitrous-ema
numpy
omegaconf
open_clip_torch
opencv-python
pandas
Pillow
requests
resampy
scipy
soundfile
tensorboard
tensordict
timm
torchcodec
torchdiffeq
torchlibrosa
tqdm

# Evaluation-metric backbones (only needed to compute av_bench metrics;
# training and inference/demo do not require these).
imagebind @ git+https://github.com/hkchengrex/ImageBind.git
laion-clap @ git+https://github.com/hkchengrex/CLAP.git
msclap @ git+https://github.com/hkchengrex/MS-CLAP.git
passt @ git+https://github.com/hkchengrex/passt_hear21.git